Repository lsst-it/puppet-helm_binary, pull requests merged in 2025-04, with the labels that each got.

#30 bump apt version constraint to inlude 10.x.x
  manifests/init.pp
  metadata.json
Labels: enhancement

#31 release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#32 Update from voxpupuli modulesync_config
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .mdl_style.rb
  .msync.yml
  Gemfile
Labels: modulesync
